.hero {
  height: calc(100vh - 100px);
  background: linear-gradient(180deg, #0c0c1d, #111132);
  overflow: hidden;
  position: relative;

  .wrapper {
    max-width: 1336px;
    height: 100%;
    margin: auto;

    .textContainer {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      h1 {
        font-size: 80px;
      }

      h2 {
        font-size: 30px;
        letter-spacing: 8px;
        color: white;
        text-transform: uppercase;
      }

      .buttons {
        display: flex;
        gap: 20px;

        button {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          font-size: 15px;
          font-weight: 400;
          letter-spacing: 1.5px;
          color: white;
          text-transform: uppercase;
          background: transparent;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .imageContainer {
    height: 100px;
    position: absolute;
    top: 0;
    right: 180px;
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
